.sort-label{
    margin-top: 50px;
    color:#650169;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sort-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sort-select:focus {
    border-color: #650169;
  }